@charset "utf-8";

body{

  background-color: aqua;
  font-family: Arial, Helvetica, sans-serif;
}
h1#novo {
    background-color: green;
    text-align: end;
}

h2.novo2 {

    background-color: red;
    text-align: justify;
    color: blueviolet;
}

